:root {
  --vp-c-brand-1: #0071E3; /* Premium Blue */
  --vp-c-brand-2: #3291FF;
  --vp-c-brand-3: #5EAAFF;
  --vp-c-brand-soft: rgba(0, 113, 227, 0.16);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #0071E3 30%, #5EAAFF);
  -webkit-background-clip: text;
}

.dark {
  --vp-c-bg: #0A0A0A;
  --vp-c-bg-soft: #141414;
  --vp-c-bg-mute: #1F1F1F;
  --vp-c-border: #333333;
  --vp-c-divider: #292929;
  --vp-c-text-1: #EAEAEA;
  --vp-c-text-2: #888888;
}
